.debug { border: 1px solid red; }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 90%;
}

h1,
h2,
h3,
p,
li {
	font-family: Lato, sans-serif;
}

.name {
	font-size: 1.6rem;
	font-weight: 900;
}

.menu-item,
.title {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.subtitle {
	font-size: 1.2rem;
	font-weight: 400;
}

p {
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.4;
}

img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header {
	background-color: #f6f6f6;
	text-align: center;
	color: #606060;
}

header .container { padding-top: 20px; }

header h1 { padding-bottom: 20px; }

.menu,
.contact-list { list-style-type: none; }

.menu li {
	background-color: #fff;
	border-radius: 4px;
}

.menu li + li { margin: 5px 0; }

.menu li:last-child { margin: 0; }

.menu a {
	display: block;
	text-decoration: none;
	color: #606060;
	padding: 10px 0;
}

.photo-profile {
	width: 70%;
	padding-top: 20px;
}

header p {
	font-size: 1.12rem;
	padding: 20px 0 40px;
	color: #909090;
}

.portfolio {
	background-color: #fff;
	text-align: center;
	color: #606060;
	padding-top: 40px;
	padding-bottom: 20px;
}

.portfolio .container,
.contact .container { padding-bottom: 30px; }

.portfolio h2,
.contact h2 { padding-bottom: 40px; }

.portfolio h3 {
	padding-top: 30px;
	padding-bottom: 20px;
}

.contact {
	background-color: #f6f6f6;
	text-align: center;
	color: #606060;
	padding-top: 40px;
	padding-bottom: 20px;
}

.contact p,
.contact li {
	font-size: 1.12rem;
	color: #909090;
}

.contact p { padding-bottom: 40px; }

.contact li {
	font-weight: 300;
	line-height: 1.4;
}

.contact li:first-child {
	margin-bottom: 20px;
}

.contact a {
	font-weight: 400;
	color: #909090;
	text-decoration: none;
	padding-left: 10px;
}

footer {
	background-color: #f6f6f6;
	text-align: center;
	color: #606060;
}

footer .container {
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #dedede;
}

footer a {
	color: #606060;
	text-decoration: none;
}

.footer-item {
	font-weight: 700;
	font-size: .8rem;
}

.footer-item:first-of-type { float: left; }

.footer-item:last-of-type {
	float: right;
	text-transform: uppercase;
}

footer .container::after {
	content: "";
	display: block;
	clear: both;
}

.footer-menu { display: none; }

@media (min-width: 768px) {

	header .container {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	header .container:last-child { padding-top: 0; }

	.menu li {
		display: inline-block;
		background-color: transparent;
		border-radius: 0;
	}

	.menu li + li { margin: 0 40px; }

	.menu li:last-child { margin: 0; }

	.menu a { padding: 10px; }

	.photo-profile {
		width: 45%;
		float: right;
		padding-top: 0;
	}

	header p {
		width: 55%;
		float: left;
		padding-top: 0;
		padding-bottom: 0;
		padding-right: 5%;
		text-align: left;
	}

	header .container::after {
		content: "";
		display: block;
		clear: both;
	}

	.portfolio,
	.contact {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.portfolio .container {
		width: 43.75%;
		display: inline-block;
		vertical-align: top;
	}

	.portfolio .container:nth-last-of-type(1),
	.portfolio .container:nth-last-of-type(2) { padding-bottom: 0; }

	.portfolio .container:nth-of-type(odd) { margin-right: 2.5%; }

	.contact .container { padding-bottom: 0; }

	.contact p {
		width: 65%;
		margin-left: auto;
		margin-right: auto;
	}

	footer .small { display: none; }

	.footer-menu {
		display: block;
		float: right;
		list-style-type: none;
	}

	.footer-menu li {
		display: inline-block;
		text-transform: uppercase;
	}

	.footer-menu li:first-of-type { margin-left: 0; }

	footer li { margin-left: 20px; }

}

@media (min-width: 1024px) {

	header .container { position: relative; }

	header h1 {
		float: left;
		padding-bottom: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.menu { float: right; }

	main { background-color: #f6f6f6; }

	.portfolio {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		padding-bottom: 0;
	}

	.portfolio .container {
		width: 30%;
		padding-bottom: 60px;
		margin-right: 2.5%;
	}

	.portfolio .container:nth-last-of-type(1),
	.portfolio .container:nth-last-of-type(2) { padding-bottom: 60px; }

	.portfolio .container:nth-of-type(3n) { margin-right: 0; }

	.contact p { width: 50%; }

}
